.outer-layer {
  width: fit-content;
  height: 56px;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
}

#btnminus {
  width: 60px;
  background-color: white;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #b24242;
}
#btnminus:hover,
#btnplus:hover {
  cursor: pointer;
}

#btnplus {
  width: 60px;
  background-color: #b24242;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
}
#minus-sign {
  text-align: center;
  font-size: 21px;
  color: #b24242;
}
#plus-sign {
  text-align: center;
  font-size: 21px;
  color: white;
}
#counter-value {
  width: 60px;
  background-color: #fbe8e8;
  font-weight: 900;
  text-align: center;
  font-size: 21px;
  color: #b24242;
  border-bottom: 1px solid #b24242;
  border-top: 1px solid #b24242;
  outline: none;
  border-left: hidden;
  border-right: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
